@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Champ description Filament */
.filament-description-field {
    color: #1a202c !important; /* text-gray-900 */
}

/* Correction couleur champ description Filament */
.fi-fo-textarea.filament-description-field,
.fi-fo-textarea textarea,
textarea.filament-description-field,
textarea {
    color: #1a202c !important;
    background-color: #fff !important;
}
